@model IEnumerable<DogApp.Models.DogAllViewModel>

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Dogs" asp-action="All" method="get">
    <p>
        Breed: <input type="text" name="BreedFilter"/>
        Name: <input type="text" name="NameFilter"/>
        <input type="submit" value="filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="All" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                <a asp-action="All" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Breed)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="image" width="100px" />
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
